.App {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  width: 100vw;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #e2d2b0;
  font-family: 'Inter', serif;
}